.mediasection{
    width: 100%;
    padding-top: 80px;
    min-height: calc(100vh - 104px);
}

.videoSection{
    width: 100%;
    padding-top: 60px;
    min-height: calc(100vh - 104px);
}

h1{
    color: black;
}

.video-card{
    margin-bottom: 40px;
}

.video-card img {
    height: 200px;
    object-fit: cover;
}

.video-card h3{
    width: 100%;
}