.newsSection{
    width: 100%;
    padding-top: 80px;
    min-height: calc(100vh - 104px);
}

h1{
    color: black;
}

.news-card{
    margin-bottom: 40px;
}

.news-card img {
    height: 200px;
    object-fit: cover;
}